[DecisionService]
AzureBlobStorageAccountName: storage7fldrt53lqfqu
AzureBlobStorageAccountKey: 6+0DgVrnAe9+ywtWONJI2XgOg7lxurqsX5fjCBbGVaCs63m3FwBktsGooTaj4QtpAXPnZHiFbpEokvNKWe1bJA==
CacheFolder: .
JoinedExamplesContainer: joined-examples-fixed

[Experimentation]
LearningRates: 0.5,0.25,0.1,0.05,0.025,0.01,0.005,0.0025,0.001,0.0005,0.00025,0.0001,0.00005,0.000025,0.00001
RegularizationValues: 0,1e-1,1e-2,1e-3,1e-4,1e-5,1e-6,1e-7,1e-8,1e-9
