[DecisionService]
ManagementCenterURL: https://your-management-center-url.azurewebsites.net
WebServiceToken: WebServiceToken
CacheFolder: .
JoinedExamplesContainer: joined-examples
ExperimentalUnitDurationDays: 1

[AzureStorageAuthentication]
$Default: connectionString1
appId1: connectionString2
appId2: connectionString2
appId3: connectionString3
