# This .gitignore is an agglomeration from several projects, so there might be duplicate entries.

**/bin/Debug
**/.vs/config
**/obj/Debug
**/test/packages
**/x64/Debug
*.suo
*.user
**/bin
**/obj
**/.vs
**/packages

# build folders
**/x64
**/obj
**/Debug
**/Release
**/dll
**/ipch
**/packages
**/bin

# VS test results
**/TestResults

# VS files
*.opensdf
*.suo
*.sdf
*.user
*.so
*.nupkg

# doxygen output folders
html
latex

/AppSettingsSecrets.config
