# build folders
**/x64
**/obj
**/Debug
**/Release
**/dll
**/ipch
**/packages
**/bin

# VS test results
**/TestResults

# VS files
*.opensdf
*.suo
*.sdf
*.user
*.so

# doxygen output folders
html
latex