@using DecisionServicePrivateWeb.Models
@using DecisionServicePrivateWeb.Controllers
@{
    ViewBag.Title = "Evaluation Dashboard";
}
<h2 class="ds-title">@ViewBag.Title</h2>

<div class="container-fluid">
   
</div>