@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black; color:white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index.html">Guide</a></li>
                    <li><a href="/playground.html">Playground</a></li>
                    <li><a href="/game.html">Test Game</a></li>
                </ul>
            </div>
        </div>
    </div>

    <br />

    <!--<p class="lead" style="text-align:center;">Enter authorization token</p>-->

    <div class="input-group" style="margin: 0 auto; width:300px">
        <div class="input-group-addon" style="color:black">Authorization token: </div>
        <input type="text" class="form-control" id="userToken" placeholder="Web service token" value="@Model.AuthToken">
    </div>

    <br /><br />

    Timer:  <div id="timer"> </div>

    <br />

    <div class="row">



        <!-- Left pane -->
        <div class="col-md-6" style="border-right:1px solid; margin:0 auto">

            <!-- Articles -->
            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <div class="thumbnail content-item" id="article1">
                        <div class="caption" style="padding-bottom:0px">
                            <p style="margin-bottom: 10px; margin-top: 0px;" id="locationText"></p>
                            <div style="width: 230px; height: 200px; overflow:hidden">
                                <img style="width: 230px; height: 316.8px;"
                                     id="location"
                                     src=""
                                     alt="...">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="thumbnail content-item" id="article2">
                        <div class="caption" style="padding-bottom:0px">
                            <p style="margin-bottom: 10px; margin-top: 0px;" id="articleText"></p>
                            <div style="width: 230px; height: 200px; overflow:hidden">
                                <img style="width: 260.7px; height: 200px; margin-left:-10px"
                                     id="article"
                                     src=""
                                     alt="...">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </br>
            <!--<div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <div class="thumbnail content-item" id="article3">
                        <div class="caption" style="padding-bottom:0px">
                            <p style="margin-bottom: 10px; margin-top: 0px;">Why the Federal Reserve isn't out of options yet</p>
                            <div style="width: 230px; height: 200px; overflow:hidden">
                                <img style="width: 360px; height: 200px; overflow:hidden; margin-left:-60px" src=" alt="...">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="thumbnail content-item" id="article4">
                        <div class="caption" style="padding-bottom:0px">
                            <p style="margin-bottom: 10px; margin-top: 0px;"></p>
                            <div style="width: 230px; height: 200px; overflow:hidden">
                                <img style="width: 355px; height: 200px; overflow:hidden; margin-left:-60px; margin-bottom:-60px" src="" alt="...">
                            </div>

                        </div>
                    </div>
                </div>
            </div>-->

            <br />
            <a href="javascript:reportReward(1);">like</a> &nbsp;
            <a href="javascript:reportReward(-1);">don't like</a> &nbsp;  <br />

            <div id="status"></div>
            <div id="statusReward"></div>
        </div>



        <!-- Right pane -->
        <div class="col-md-6">


            <div class="thumbnail" style="text-align:center; width:650px; margin: 0 auto">
                <div class="caption article">
                    <div id="chart">
                        <svg style="height: 500px;"></svg>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>

    <script>
        var locations = [
            {
                key: "NYC",
                text: "New York City",
                image:"https://upload.wikimedia.org/wikipedia/commons/9/9d/NYC_Montage_2014_4_-_Jleon.jpg"
            },
            {
                key: "DC",
                text: "Washington D.C.",
                image:"https://upload.wikimedia.org/wikipedia/commons/5/58/Washington_D.C._Montage_Proposal_6.jpg"
            },
            {
                key: "Seattle",
                text: "Seattle",
                image:"https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg"
            }
        ];

        var actions = [
            {
                text: "Bloomberg says he will not enter presidential race",
                image: "https://upload.wikimedia.org/wikipedia/commons/4/42/Michael_R_Bloomberg.jpg"
            },
            {
                text: "What counts as artificially intelligent? AI explained",
                image: "https://upload.wikimedia.org/wikipedia/commons/2/28/Artificial-intelligence-elon-musk-hawking.jpg"
            },
            {
                text: "Why the Federal Reserve isn't out of options yet",
                image: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Marriner_S._Eccles_Federal_Reserve_Board_Building.jpg/1280px-Marriner_S._Eccles_Federal_Reserve_Board_Building.jpg"
            },
            {
                text: "12 great animated movies not made by Disney",
                image: "https://c2.staticflickr.com/6/5571/15100639546_d1d29d8ee0_b.jpg"
            }
        ];

        var secondsLeft = 10;
        var locationIndex = 0;
        var eventId;

        function chooseAction() {
            locationIndex = (locationIndex + 1) % locations.length;
            $("#location").attr("src", locations[locationIndex].image);
            $("#locationText").text(locations[locationIndex].text);
            $("#article").attr("src", "");

            secondsLeft = 10;

            var context = { "Location":locations[locationIndex].key };

            // Get Decision
            $.ajax({
                method: "POST",
                url: "/API/Policy",
                data: JSON.stringify(context),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    "auth": $("#userToken").val()
                },
            })
            .done(function (data) {

                // console.log(data);
                eventId = data.EventId;
                $("#article").attr("src", actions[data.Action - 1].image);
                $("#articleText").text(actions[data.Action - 1].text);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                $("#status").text("Error: " + textStatus + "  " + errorThrown);
            });
        };
        chooseAction();

        setInterval(function () {
            if ($("#userToken").val().length == 0)
            {
                $("#timer").text("Set userToken");
                return;
            }

            $("#timer").text(secondsLeft + " seconds left");
            secondsLeft--;

            if (secondsLeft < 0)
                chooseAction();
            }, 1000);

        function reportReward(reward) {
            var thisEventId = eventId;

            $.ajax({
                method: "POST",
                url: "/API/Reward/?eventId" + eventId,
                data: "" + reward,
                headers: {
                    "auth": $("#userToken").val()
                },
            })
            .done(function (data) {
                $("#statusReward").text("Success " + thisEventId + ": " + reward);
                chooseAction();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                $("#status").text("Error: " + textStatus + "  " + errorThrown);
            });
        }
    </script>
</body>
</html>
