@using DecisionServicePrivateWeb.Models
@using DecisionServicePrivateWeb.Controllers
@model EvaluationViewModel
@{
    ViewBag.Title = "Evaluation Dashboard";
}
<h2 class="ds-title">@ViewBag.Title</h2>

<div class="container-fluid ds-form form-horizontal">
    <div class="form-group">
        <label for="eval-window-filter" class="col-sm-2 control-label ds-label" style="max-width: 280px;">show results for every</label>
        <div class="col-sm-10">
            @Html.DropDownList("eval-window-filter",
                Model.WindowFilters.Select(m => new SelectListItem
                {
                    Value = m,
                    Text = m,
                    Selected = (m == Model.SelectedFilter)
                }),
                new { @id = "eval-window-filter", @class = "form-control", @style = "display:inline" })
        </div>
    </div>
    <div id="chart">
        <svg style="height: 600px;"></svg>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
}

@section scripts {
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/eval.js" charset="utf-8"></script>
}